<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" title="Home"
    style="background: left/contain no-repeat url(https://d8t0twdicilua.cloudfront.net/img/logo.svg); padding-left: 50px;"
    href="/">Stack Muncher<sup> άλφα</sup></a>

  <div class="collapse navbar-collapse show" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      &nbsp;
    </div>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Keyword search" title="Search by keyword. 3 to 20 letters, numbers or _."
        aria-label="Search by keyword. 3 to 20 letters, numbers or _." id="kw" minlength="3" maxlength="20"
        pattern="[_0-9a-zA-Z]{3,20}" onkeydown="if (event.keyCode===13) document.getElementById('btn').click()">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="btn" autocomplete="off"
        onclick="const v=document.getElementById('kw'); if (v.validity.valid) window.location.href='/_kw/'+v.value">Search</button>
    </div>
  </div>
</nav>