<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-12 col-lg-2"></div>

      <div class="col-12 col-lg-4 col-md-6">
        <main role="main">
          <h2 style="text-align:center; font-size:1000%; font-weight:600;" class="pe-md-5 text-muted">404</h2>
        </main>
      </div>

      <div class="col-12 col-lg-4 col-md-6">
        <h1><small>Page not found</small></h1>
        <h4><small>Try any of these</small></h1>
          <ul>
            <li class="my-3"><a title="Click to try this search" style="text-decoration: none;" href="/?c%23 unity imagemagick"><span class="border rounded border-secondary p-1 text-secondary"><strong>c# unity imagemagick</strong></span></a> - developers using <i>C#</i> with <i>Unity</i> and <i>ImageMagick</i></li>
            <li class="my-3"><a title="Click to try this search" style="text-decoration: none;" href="/?rust"><span class="border rounded border-secondary p-1 text-secondary"><strong>rust</strong></span></a> - some Rustacians</li>
            <li class="my-2"><a href="/_lib/?imagemagick">https://stackmuncher.com<strong>/_lib/?imagemagick</strong></a> - list of packages or libraries related to <i>imagemagick</i></li>
            <li class="my-2"><a href="/rimutaka">https://stackmuncher.com<strong>/rimutaka</strong></a> - a developer profile for <i>rimutaka</i></li>
            <li class="my-2"><a href="/about/">https://stackmuncher.com<strong>/about/</strong></a> - <i>About Us</i> pages</li>
            <li class="my-2"><a href="/robots.txt">https://stackmuncher.com<strong>/robots.txt</strong></a> - info for bots</li>
          </ul>
          <p class="mt-4">All 404 errors are logged, but <a href="mailto:info@stackmuncher.com">do let us know</a> if you think something is broken.</p>
      </div>

      <div class="col-12 col-lg-2"></div>

    </div>
  </div>
</body>

</html>