<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <h1><small>Invalid search</small></h1>
        <p>Sorry, we tripped up. The error was logged, but <a href="mailto:info@stackmuncher.com">do let us know</a> if this stops you from getting the results you want.</p>
      </div>

      <div class="col-md-9">
        <main role="main">
          <h2 style="text-align:center; font-size:1000%; font-weight:600;" class="pe-md-5 mt-5 text-muted">404</h2>
        </main>
      </div>

    </div>
  </div>
</body>

</html>