<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row">
      {% if hits.hits | length > 0 %}
      <div class="col-md-3">
        {% for hit in hits.hits %}
        {% set user = hit._source %}
        {% if user.name %}
        <h1><small>{{user.name}}</small></h1>
        <h5><small>Software engineer</small></h5>
        {% else %}
        <h1><small>Anonymous Software Engineer</small></h1>
        {% endif %}


        <ul class="mt-3 pl-3">
          {% if user.hireable %}
          <li class="mb-1"><strong><span class="badge badge-success">Open to work</span></strong></li>
          {% endif %}
          {% if user.location %}
          <li class="mb-1"><strong>Location</strong>: {{user.location}}</li>
          {% endif %}
          {% if user.company %}
          <li class="mb-1"><strong>Company</strong>: {{user.company}}</li>
          {% endif %}
          <li class="mb-1"><strong>Github</strong>: <a href="https://github.com/{{user.login}}">{{user.login}}</a></li>
          {% if user.blog %}
          <li class="mb-1"><strong>Website</strong>: <a class="text-truncate"
              href="https://github.com/{{user.blog}}">{{user.blog}}</a></li>
          {% endif %}
          {% if user.email %}
          <li class="mb-1"><strong>Email</strong>: {{user.email}}</li>
          {% endif %}

          {% set init = user.report.date_init | date(format="%Y") | int() %}
          {% set today = now() | date(format="%Y")  | int() %}
          <li class="mb-1"><strong>Code history</strong>: {% if today == init %}
            &lt; 1 year
            {% else %}
            {{ today - init }} years
            {% endif %}
          </li>
        </ul>

      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table my-4">
            <thead>
              <tr>
                <th scope="col">Language</th>
                <th scope="col">File type</th>
                <th scope="col">File count</th>
                <th scope="col">Lines of code</th>
                <th scope="col">Libraries</th>
                <th scope="col">Doco comments</th>
                <th scope="col">Inline comments</th>
              </tr>
            </thead>
            <tbody>
              {% for tech in user.report.tech | sort(attribute="language") | sort(attribute="name") %}
              <tr>
                <td scope="row"><strong>{{tech.language}}</strong></th>
                <td>{{tech.name | replace(from="$", to="") | replace(from=".\", to="")}}</td>
                <td>{{tech.files}}</td>
                <td>{{tech.code_lines}}</td>
                <td>{% if tech.refs | length > 0 %}{{tech.refs | length}}{% endif %}</td>
                <td>{% if tech.docs_comments > 0 %}{{tech.docs_comments}}{% endif %}</td>
                <td>{% if tech.line_comments > 0 %}{{tech.line_comments}}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card" style="border:none">
          <div class="card-body">
            <h5 class="card-title ma-1">
              <h3>Projects</h3>
            </h5>
            <ul class="list-inline">
              {% for proj in user.report.reports_included | sort %}
              {% set len = proj | length | int() %}
              <li class="pr-4 .text-nowrap list-inline-item">
                {% set pname = proj | truncate(length=len-23, end="") | replace(from=user.report.user_name, to="") | replace(from="/", to="") %}
                <a href="https://github.com/{{user.login}}/{{pname}}">{{pname}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% for tech in user.report.tech %}
        {% if tech.name==".\.cs$" %}
        {% set col = tech.refs | length / 3 | int() %}
        <div class="card" style="border:none">
          <div class="card-body">
            <h5 class="card-title ma-1">
              <h3>Libraries</h3>
            </h5>
            <div class="row">

              <div class="col-md-4">
                <ul class="pl-3">
                  {% for ref in tech.refs | sort(attribute="k") | slice(start=0, end=col+1)  %}
                  <li class="px-2 .text-nowrap">
                    <a href="/_pkg/{{ref.k}}">{{ref.k}}</a>: <small>{{ref.c}}</small></li>
                  {% endfor %}
                </ul>
              </div>

              <div class="col-md-4">
                <ul>
                  {% for ref in tech.refs | sort(attribute="k") | slice(start=col+1, end=col*2+1)  %}
                  <li class="px-2 .text-nowrap">
                    <a href="/_pkg/{{ref.k}}">{{ref.k}}</a>: <small>{{ref.c}}</small></li>
                  {% endfor %}
                </ul>
              </div>

              <div class="col-md-4">
                <ul>
                  {% for ref in tech.refs | sort(attribute="k") | slice(start=col*2+1)  %}
                  <li class="px-2 ma-3 .text-nowrap text-muted">
                    <a href="/_pkg/{{ref.k}}">{{ref.k}}</a>: <small>{{ref.c}}</small></li>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}


        {% if user.report.unknown_file_types | length > 0 %}
        <div class="card" style="border:none">
          <div class="card-body">
            <h5 class="card-title ma-1">
              <h3>Other files</h3>
            </h5>
            <ul class="list-inline">
              {% for ftype in user.report.unknown_file_types | sort(attribute="k") %}
              <li class="pr-4 .text-nowrap text-muted list-inline-item">
                {{ftype.k}}: <small>{{ftype.c}}</small></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

        {% endfor %}
      </div>
      {% else %}
      <h1 class="mt-3 ml-3">User not found</h1>
      {% endif %}
    </div>
  </div>

</body>

</html>