<!doctype html>
<html lang="en">

{% include "includes/head.html" %}
{#% set refs = refs.aggregations.refs.buckets | concat(with=pkgs.aggregations.pkgs.buckets) | unique(attribute="key") %#}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <h1><small><code>{{keywords_str}}</code></small></h1>
        <ul class="mt-3 ps-3">
          <li class="mb-1">Used by 
            {% if devs.hits.total.value > 9999 %}
            more than
            {% endif %}
            <i>{{devs.hits.total.value}}</i> devs</li>
          {% if refs %}
          <li class="mb-1">Mentioned in
            {% if refs | length > 199 %}
            more than
            {% endif %}
            {{refs | length}} packages
          </li>
          {% endif %}
        </ul>

        {% include "includes/truncated_search_msg.html" %}

        {% if refs %}
        <h3>Related packages</h3>
        <ul class="list-unstyled">
          {% for ref in refs | sort(attribute="key") %}
          <li class="text-truncate mb-1">
            {% if ref.key | length > 40 %}
            <a title="Used {{ref.doc_count}} times, {{ref.key}}" href="/_pkg/{{ref.key}}">{{ref.key}}</a>
            {% else %}
            <a title="Used {{ref.doc_count}} times" href="/_pkg/{{ref.key}}">{{ref.key}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% elif devs.hits.hits | length == 0 %}
        <h3>Not found</h3>
        <p>New dev reports are added every few minutes.</p>
        <p>Registered users can set up alerts for package use by devs. <a href="mailto:info@stackmuncher.com">Contact us</a>
          for full access.</p>
        {% endif %}
      </div>

      <div class="col-lg-9 col-md-8">
        <main role="main">
          <div class="row">
            {% for dev in devs.hits.hits %}
            <div class="col-lg-4">
              {% include "includes/dev-card.html" %}
            </div>
            {% endfor %}
          </div>
        </main>
      </div>

    </div>
  </div>
</body>

</html>