<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h1><small><code>{{package}}</code></small></h1>
        <ul class="mt-3 pl-3">
          <li class="mb-1">Used by <i>{{engineers.hits.total.value}}</i> engineers</li>
          {% set kws = package | split(pat=".") %}
          {% if kws | length > 1 %}
          <li class="mb-1">See also:
            <ul class="list-unstyled ml-3">
              {% for kw in kws %}
              <li><a href="/_kw/{{kw}}">{{kw}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>

        {% include "includes/truncated_search_msg.html" %}
      </div>

      <div class="col-md-9">
        <main role="main">

          <div class="album py-md-3">
            <div class="container p-0">

              <div class="row">
                {% for engineer in engineers.hits.hits %}
                <div class="col-md-4">
                  {% include "includes/engineer-card.html" %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>
  </div>
</body>

</html>